*, ::before, ::after {
  padding: 0;
  margin: 0;
  /*在移动端的设置*/
  /*清除点击高亮效果*/
  -webkit-tap-highlight-color: transparent;
  /*设置盒子宽度从边框计算*/
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-appearance: none;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6 { font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:none; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
// 全局配置
$fontsize: 144px !default;
@function rem($px) {
     @return (($px * 1px) / $fontsize ) * 1rem;
}
html {
  font-size: $fontsize;
  @media screen and (max-width: 1024px) {
    $fontsize: 102px;
    font-size: $fontsize;
  }
  @media screen and (max-width: 992px) {
    $fontsize: 96px;
    font-size: $fontsize;
  }
  @media screen and (max-width: 768px) {
    $fontsize: 72px;
    font-size: $fontsize;
  }
  @media screen and (max-width: 576px) {
    $fontsize: 54px;
    font-size: $fontsize;
  }
  overflow-y: scroll;
}
:root {
  overflow-y: auto;
  overflow-x: hidden;
}
:root body {
  position: absolute;
}
body {
  width: 100vw;
  overflow: hidden;
}
a {
  color: currentColor;
}
img {
  width: 100%;
  vertical-align: middle;
}
$color: #090909;
$activeColor: #9e8062;
$duration: .3s;
